/** Begin reset */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul, dl {
    list-style-position: inside;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
input, textarea, .spa-x-user-select {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/** End reset */

body {
    height: 100%;
    font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}
header {
    background-color: #03A9F4;
    box-shadow: 1px 1px 3px #888;
    margin-bottom: 10px
}
header h1 {
    font-size: 30px;
    font-weight: normal;
    padding: 15px 15px;
}
header h1 a {
    color: #ffffff;
    text-decoration: none;
}
.description img {
    width: 150px;
    height: 150px;
    margin-right: 0px;
    margin-left: 10px;
    border-radius: 75px;
    box-shadow: 2px 2px 3px #666;
    margin-top: -50px;
    float: right;
}
.description:after {
    content: "";
    display: block;
    clear: both;
}
.recent:after {
    content: "";
    display: block;
    clear: both;
}
.contents {
    padding: 10px 15px;

    background-image: url(./background.png);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-attachment: fixed;
    background-size:200px;
}
.contents section {
    margin-bottom: 50px;
}
.contents h1 {
    color: #ff80ab;
    font-size: 28px;
    margin-bottom: 15px;
    padding-bottom: 2px;
    border-bottom: solid 1px #ff80ab;
}
.contents h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.contents p {
    line-height: 1.5em;
}
.description {
    padding: 10px 15px;
    padding-bottom: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}
.blog {
    float: left;
    width: 50%;
    padding-right: 15px
}
.blog h2 {
    font-weight: normal;
}
.blog ul {
    list-style-type: none;
}
.blog li a {
    display: block;
    padding: 15px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    background-color: #FF80AB;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
}
.blog li a time {
    font-size: 12px;
    margin-top: 5px
}
.blog li a:hover {
    background-color: #FCE4EC
}
.twitter {
    float: right;
    width: 40%;
}
.links p {
    margin-bottom: 20px;
}
.links ul {
    list-style: none;
}
.links li {
    float: left;
    width: 33.3333%;
}
.links li a {
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    background-color: #03A9F4;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.links i {
    margin-right: 10px;
    font-size: 22px;
}
.links:after {
    content: "";
    display: block;
    clear: both;
}
.links li a:hover {
    background-color: #B3E5FC
}
.skills_text {
    margin-bottom: 15px;
}
.skills ul {
    list-style: none;
    margin-bottom: 15px;
}
.skills ul:after {
    content: "";
    display: block;
    clear: both;
}
.skills li {
    float: left;
    width: 33.3333%;
    font-size: 18px;
    margin-bottom: 10px
}
.stars {
    color: #03A9F4
}
.products_android {
    margin-bottom: 20px;
}
.products_android ul {
    list-style: none;
}
.products_android:after {
    content: "";
    display: block;
    clear: both;
}
.products_android li {
    float: left;
    width: 50%;
}
.products_android a:hover img {
    opacity: .5;
}
.products_android img {
    width: 100%;
    opacity: 1;
}
.products_web ul {
    list-style: none;
}
.products_web li a {
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    background-color: #888;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.products_web li a:hover {
    background-color: #cccccc
}
.contact {
    margin-bottom: 50px
}
.contact p {
    padding: 2px 0;
}
@media (max-width: 519px) {
    header h1 {
        font-size: 26px;
        padding-left: 0;
        padding-right: 0;
        text-align: center
    }
    .description {
      padding-left: 50px;
      padding-right: 50px;
    }
    .description p {
        font-size: 14px;
        padding: 2px 0
    }
    .description img {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-top: -25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        float: none;
    }
    .links li {
        width: 100%;
    }
    .products li {
        width: 100%;
    }
    .blog {
        width: 100%
    }
    .twitter {
        display: none;
    }
}
@media (min-width: 930px) {
    header h1, header .description, .contents {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}
