/** Begin reset */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul, dl {
    list-style-position: inside;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
input, textarea, .spa-x-user-select {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body {
    height: 100%;
    font-family: 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}
header {
    background-color: #03A9F4;
    box-shadow: 1px 1px 3px #888;
    margin-bottom: 10px
}
header h1 {
    font-size: 30px;
    font-weight: normal;
    padding: 15px 15px;
}
header h1 a {
    color: #ffffff;
    text-decoration: none;
}

/** End reset */

.contents {
    padding: 10px 15px 300px;
}
.contents section {
    margin-bottom: 50px;
}
.contents h1 {
    color: #ff80ab;
    font-size: 28px;
    margin-bottom: 15px;
    padding-bottom: 2px;
    border-bottom: solid 1px #ff80ab;
}
.contents h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.contents p {
    line-height: 1.5em;
}

@media (max-width: 519px) {
    header h1 {
        font-size: 26px;
        padding-left: 0;
        padding-right: 0;
        text-align: center
    }
    .contents {
      background-position:80% bottom;
      background-size:150px;
      padding-bottom: 200px;
    }
}
@media (min-width: 930px) {
    header h1, .contents {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}
