.contents {
}

.description img {
    width: 150px;
    height: 150px;
    margin-right: 0px;
    margin-left: 10px;
    border-radius: 75px;
    box-shadow: 2px 2px 3px #666;
    margin-top: -50px;
    float: right;
}
.description:after {
    content: "";
    display: block;
    clear: both;
}
.recent:after {
    content: "";
    display: block;
    clear: both;
}
.description {
    padding: 10px 15px;
    padding-bottom: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}
.blog {
    float: left;
    width: 50%;
    padding-right: 15px
}
.blog h2 {
    font-weight: normal;
}
.blog ul {
    list-style-type: none;
}
.blog li a {
    display: block;
    padding: 15px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    background-color: #FF80AB;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
}
.blog li a time {
    font-size: 12px;
    margin-top: 5px
}
.blog li a:hover {
    background-color: #FCE4EC
}
.twitter {
    float: right;
    width: 40%;
}
.links p {
    margin-bottom: 20px;
}
.links ul {
    list-style: none;
}
.links li {
    float: left;
    width: 33.3333%;
}
.links li a {
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    background-color: #03A9F4;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.links i {
    margin-right: 10px;
    font-size: 22px;
}
.links:after {
    content: "";
    display: block;
    clear: both;
}
.skills {
    margin-bottom: 50px
}
.skills li a:hover {
    background-color: #B3E5FC
}
.skills ul {
    list-style: none;
}
.skills li a {
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    background-color: #03A9F4;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.products_kirimin_chan img {
    width: 50%;
}
.products_jinseifm img {
    width: 50%;
}
.products_android {
    margin-bottom: 20px;
}
.products_android ul {
    list-style: none;
}
.products_android:after {
    content: "";
    display: block;
    clear: both;
}
.products_android li {
    float: left;
    width: 50%;
}
.products_android a:hover img {
    opacity: .5;
}
.products_android img {
    width: 100%;
    opacity: 1;
}
.products_web ul {
    list-style: none;
}
.products_web li a {
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    background-color: #03A9F4;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.products_web li a:hover {
    background-color: #B3E5FC
}
.products_books ul {
    list-style: none;
}

.contact {
    margin-bottom: 50px
}
.contact p {
    padding: 2px 0;
}
.crypt_currencies h2 {
    font-size: 30px;
    margin-bottom: 32px;
}
.crypt_currencies h3, p, img {
    margin-bottom: 8px;
}
.others h2 {
    font-size: 30px;
    margin-bottom: 32px;
}
.others h3, p, img {
    margin-bottom: 8px;
}
@media (max-width: 519px) {
    .description {
      padding-left: 50px;
      padding-right: 50px;
    }
    .description p {
        font-size: 14px;
        padding: 2px 0
    }
    .description img {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-top: -25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        float: none;
    }
    .links li {
        width: 100%;
    }
    .products li {
        width: 100%;
    }
    .blog {
        width: 100%
    }
    .twitter {
        display: none;
    }
}
@media (min-width: 930px) {
    .description {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}
